@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
.background {
  
 
  font-family: "Montserrat", sans-serif;
}

div {
  background-color: rgba(35, 35, 35, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.swiper-button-next {
  background: transparent;
}
.swiper-button-prev {
  background: transparent;
}
